.landing {
    display: flex;
    align-items: center;
    max-width: 600px;
    padding-top: 30px;
    min-height: calc(100vh - 30px);
}

@media screen and (orientation: portrait) {
    .landing {
        margin-bottom: -50px;
        min-height: 430px;
    }
}

@media screen and (orientation: portrait) and (min-width: 750px) {
    .landing {
        margin-bottom: -30px;
        min-height: 550px;
    }
}

@media only screen and (min-width: 1440px) {
    .landing {
        max-width: 780px;
    }
}

@media only screen and (min-width: 1920px) {
    .landing {
        max-width: 900px;
    }
}

@media only screen and (min-width: 2200px) {
    .landing {
        max-width: 1150px;
    }
}

@media only screen and (min-width: 2560px) {
    .landing {
        max-width: 1300px;
    }
}

.section {
    min-height: calc(100vh - 80px);
    justify-content: center;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
}

@media only screen and (max-width: 750px) {
    .section-title {
        margin-bottom: 20px;
    }
}

#work {
    scroll-margin-top: 100px;
}

#projects {
    scroll-margin-top: 100px;
}

.card-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.card {
    width: 300px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--primary-mid);
    transition: all 0.2s;
}

.card:hover {
    transform: scale(1.04);
}

.card-image {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media only screen and (max-width: 900px) {
    .card {
        width: 250px;
    }
}

@media only screen and (max-width: 680px) {
    .card {
        width: 350px;
    }
}

@media only screen and (min-width: 1440px) {
    .card {
        width: 330px;
        margin: 25px;
    }
}

@media only screen and (min-width: 1800px) {
    .card {
        width: 420px;
        margin: 30px;
    }
}

@media only screen and (min-width: 2200px) {
    .card {
        width: 540px;
        margin: 35px;
    }
}

@media only screen and (min-width: 2560px) {
    .card {
        width: 630px;
        margin: 40px;
    }
}

.card-text {
    padding: 20px;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

@media only screen and (min-width: 1440px) {
    .card-text {
        padding: 25px;
        line-height: 1.3rem;
    }
}

@media only screen and (min-width: 2560px) {
    .card-text {
        padding: 35px;
    }
}

.card-text h4, .card-text .date {
    margin-bottom: 10px;
}

@media only screen and (min-width: 1440px) {
    .card-text h4, .card-text .date {
        margin-bottom: 12.5px;
    }
}

@media only screen and (min-width: 2560px) {
    .card-text h4, .card-text .date {
        margin-bottom: 25px;
    }
}